<div class="mt-28 mb-14 sm:mt-0 sm:mb-0 flex flex-col items-center gap-8 px-6 sm:w-[40%]">

  <img src="/images/icon-complete.svg" alt="icon" class="w-16" />

  <div class="text-center">
    <h1 class="uppercase text-[#21092f] text-2xl tracking-widest mb-4">Thank you!</h1>
    <p class="text-[#8e8593]">We've added your card details</p>
  </div>
  
  <button
    type="submit"
    class="bg-[#21092f] text-[#dedddf] rounded-lg py-3.5 w-full"
  >
    Continue
  </button>

</div>
